---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - wiki.glooscap.dasmlab.org
  resources:
  - translationjobs
  - wikitargets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - wiki.glooscap.dasmlab.org
  resources:
  - translationjobs/finalizers
  - wikitargets/finalizers
  verbs:
  - update
- apiGroups:
  - wiki.glooscap.dasmlab.org
  resources:
  - translationjobs/status
  - wikitargets/status
  verbs:
  - get
  - patch
  - update
