apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  # namespace will be set by kustomize from config/default/kustomization.yaml
