apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/managed-by: manual
  name: leader-election-rolebinding
  namespace: glooscap-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: leader-election-role
subjects:
- kind: ServiceAccount
  name: glooscap-operator
  namespace: glooscap-system

